# Node
node_modules/
npm-debug.log*

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars
terraform/.terraform.tfstate.lock.info

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Keys
*.pem
*.key
